/* navbar */
.navbar-brand {
  font-weight: 700;
}
.btn-outline-success {
  background-color: black;
  border-color: black;
  color: white;

}
.btn-outline-success:hover {
  background-color: white;
  border-color: black;
  color: black;
}

/* main */
h1, h5 {
  color: white;
  font-weight: 900;
}


/* promotion */
.card-body {
  text-align: center;
}